[Desktop Entry]
Name=Conky Widget
Comment=Skype Internet Telephony
Exec=conky -d -q -c home/dima/.config/conky/.conkyrc
Icon=home/dima/.config/conky/icon.png
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true