[Desktop Entry]
Name=Conky Widget
Comment=Conky startup
Exec=conky -d -q -c etc/conky/.conkyrc
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true